certifi==2026.7.22 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.9 ; python_version >= "3.12" and python_version < "4.0"
fastjsonschema==2.22.1 ; python_version >= "3.12" and python_version < "4.0"
idna==3.18 ; python_version >= "3.12" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.34.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.7.0 ; python_version >= "3.12" and python_version < "4.0"
xmltodict==1.0.4 ; python_version >= "3.12" and python_version < "4.0"
